* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://s2.glbimg.com/8wQgL38bfjeb4S-HxW9aghKJ95I=/0x0:1200x675/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/x/a/PkMWYqQA2BcuxtsPMshA/warwick-prestigio.jpg");
  color: white;

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  width: 100%;
  background-color: transparent;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #fffb00;

  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid blackk;
  border-radius: 8px;

  background: black;
}

input:checked {
  background: #fffb00;
  border: 2px solid black;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
